.searchZone{
    height: 50px;
}
.titleZone h3{
    display: inline
}


.movies {
  list-style: none;
}
.movie{
    border: 1px;
    height: 200px;
/*    padding: 10px;
    margin: 20px;*/
}
.movie img{
    vertical-align: bottom;
}

.detail-movie{
    height: 100vw;
    background-color: #f6f6f5;
    padding: 10px;
    margin-top: 50px;
}
.detail-label{
    color: #666666;
    font-weight: bold;
}
.detail-data{
    margin-left:5px;
}