.searchZone{
    height: 50px;
}
.titleZone h3{
    display: inline
}
.movies {
  list-style: none;
}
.movie{
    border: 1px;
    height: 240px;
}
.detail-label{
    color: #666666;
    font-weight: bold;
}
