<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Movie Browser</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/app.css">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="./movies.js"></script>
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }</style>
</head>
<body class="ng-cloak" ng-controller="MoviesController as moviesCtrl">

	<div class="container-fluid">
		<div class="titleZone">
			<h3> The Movie browser </h3>
		</div>
		<div class="searchZone">
			<!--Sidebar content-->
			Search: <input ng-model="query">
			Sort by:
			<select ng-model="moviesCtrl.orderProp">
				<option value="title">Alphabetical</option>
				<option value="popularity">Popularity</option>
				<option value="vote_average">Vote</option>					
			</select>
		</div>
		<div >
			<!--Body content-->
			<ul class="movies row">
				<li ng-repeat="movie in moviesCtrl.movies | filter:query  | orderBy:moviesCtrl.orderProp" class="col-md-3 movie">
					<div><img src="{{moviesCtrl.imagesUri}}{{movie.poster_path}}"></div>
					{{movie.title}}			
				</li>
			</ul>
		</div>
	</div>
</body>
</html>