<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Movie Browser</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/app.css">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="./movies.js"></script>
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }</style>
</head>
<body class="ng-cloak" >

	<div class="container-fluid">
		<div class="titleZone">
			<h3> The Movie browser </h3>
		</div>
		<div class="row">
			<div class="col-md-9" ng-controller="moviesListController as moviesListCtrl"> 
				<div class="searchZone">
					<!--Search bar content-->
					<label for="search">Search: </label><input ng-model="query" id="search">
					<label for="sort">Sort by: </label>
					<select ng-model="moviesCtrl.orderProp" id="sort">
						<option value="title">Alphabetical</option>
						<option value="popularity">Popularity</option>
						<option value="vote_average">Vote</option>					
					</select>
				</div>
				<div >
					<!--Body content-->
					<ul class="movies row">
						<li ng-repeat="movie in moviesListCtrl.movies | filter:query  | orderBy:moviesListCtrl.orderProp" class="col-md-3 movie">
							<div><img src="{{moviesCtrl.imagesUri}}{{movie.poster_path}}"></div>
							{{movie.title}}			
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 row" ng-controller="movie as moviesDetailCtrl" ng-style="{'background-image':'url({{moviesCtrl.imagesUri}}{{movie.backdrop_path}})'}">">
				<div class="col-md-4 movie-label">Title: </div>
				<div class="col-md-8 movie-data">{{movie.title}} </div>
				<div class="col-md-4 movie-label">Tagline: </div>
				<div class="col-md-8 movie-data">{{movie.tagline}} </div>
				<div class="col-md-4 movie-label">Budget: </div>
				<div class="col-md-8 movie-data">{{movie.budget}} </div>
				<div class="col-md-4 movie-label">Revenue: </div>
				<div class="col-md-8 movie-data">{{movie.revenue}} </div>
				<div class="col-md-4 movie-label">Release date: </div>
				<div class="col-md-8 movie-data">{{movie.release_date}} </div>
				<div class="col-md-4 movie-label">Vote average: </div>
				<div class="col-md-8 movie-data">{{movie.vote_average}} </div>
				<div class="col-md-4 movie-label">Vote count: </div>
				<div class="col-md-8 movie-data">{{movie.vote_count}} </div>					
				<div class="col-md-4 movie-label">Overview: </div>
				<div class="col-md-8 movie-data">{{movie.overview}} </div>
			</div>
		</div>
	</div>
</body>
</html>