<div class="searchZone">
	<!--Search bar content-->
	<label for="search">Search: </label><input ng-model="moviesListCtrl.query" id="search">
	<select ng-model="moviesCtrl.orderProp" id="sort">
		<option value="title">Alphabetical</option>
		<option value="popularity">Popularity</option>
		<option value="vote_average">Vote</option>					
	</select>
	<button type="button" ng-click="moviesListCtrl.previousPage()">Previous</button>
	<button type="button" ng-click="moviesListCtrl.nextPage()">Next</button>
</div>
<div >
	<!--Body content-->
	<ul class="movies row"> <!-- row -->
	<!-- col-xs-1 col-lg-1 -->
		<li ng-repeat="movie in moviesListCtrl.movies | filter:moviesListCtrl.query  | orderBy:moviesListCtrl.orderProp" class=" col-xs-1 col-lg-1 thumbnail movie" ng-click="moviesListCtrl.loadMovie(movie.id)" >
			<img ng-src="{{moviesListCtrl.imagesUrl}}{{movie.poster_path}}">
			<div class="caption">{{movie.title}}</div>
		</li>
	</ul>
</div>

